

.btn{
-webkit-transform-style: preserve-3d;
-moz-transform-style   : preserve-3d;
-ms-transform-style    : preserve-3d;
-o-transform-style     : preserve-3d;
transform-style        : preserve-3d;
-webkit-transition     : -webkit-transform .2s;
-moz-transition        : -moz-transform .2s;
-ms-transition         : -ms-transform .2s;
-o-transition          : -o-transform .2s;
transition             : transform .2s;
width                  : 60px;
height                 : 30px;
border                 : 0px;
display                : block;
float                  : left;
margin-left            : 6px;
}
.btn:hover{
-webkit-transform: scale(1.05);
transform        : scale(1.05);
}
.btn:ACTIVE{
-webkit-transform: scale(0.9);
transform        : scale(0.9);
}
#save_img #result img{
    display: inline_block;
    width  : 100px;
    height : 100px;
}
.save_btn .save{
    width     : 110px;height : 32px;
    margin-top: 5px;
    border    : 1px solid #c3c3c3;
    background: #f9f9f9;color: #666;
    
}